name: Tests

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  test-frontend:
    name: Test Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installer dépendances
        working-directory: ./cinezone-frontend
        run: npm install

      - name: Lancer les tests
        working-directory: ./cinezone-frontend
        run: npm test -- --watchAll=false

  test-backend:
    name: Test Backend
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installer dépendances
        working-directory: ./cinezone-backend
        run: npm install

      - name: Lancer les tests
        working-directory: ./cinezone-backend
        run: npm test
